<footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <a href="/invite" class="nav-link">
            Invite Me
          </a>
        </li>
        <li class="nav-item">
          <a href="/dc" class="nav-link">
            Get Help
          </a>
        </li>
        <li class="nav-item">
          <a href="/vote" class="nav-link">
            Vote Me
          </a>
        </li>
      </ul>
      <div class="copyright">
        © 
        <script>
          document.write(new Date().getFullYear())
        </script> 
        <%=botname%> Dashboard | 
         Made with <i class="tim-icons icon-heart-2"></i> by <a href="https://rjryt.tech" target="_blank">RJRYT</a>
      </div>
    </div>
  </footer>