<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <div class="navbar-toggle d-inline">
          <button type="button" class="navbar-toggler">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
        <a class="navbar-brand" href="/?n=true"><%=botname%> Dashboard</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
      </button>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav ml-auto">
          <li class="search-bar input-group">
            <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="tim-icons icon-zoom-split" ></i>
              <span class="d-lg-none d-md-block">Search</span>
            </button>
          </li>
          <li class="nav-link">
            <a class="btn btn-link" href="/docs"><i class="tim-icons icon-book-bookmark"></i>
              <span class="d-lg-none d-md-block">Documentation</span>
            </a>
          </li>
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <div class="photo">
                <i class="tim-icons icon-alert-circle-exc"></i>
              </div>
              <b class="caret d-none d-lg-block d-xl-block"></b>
              <p class="d-lg-none">
                Get help
              </p>
            </a>
            <ul class="dropdown-menu dropdown-navbar">
              <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Contact</a></li>
              <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Bug Report</a></li>
              <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Issue report</a></li>
              <li class="dropdown-divider"></li>
              <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">FeedBack</a></li>
              <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Suggest</a></li>
              <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Change Log</a></li>
              <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Announcements</a></li>
            </ul>
          </li>
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <div class="photo">
                <img src="<%=avatar%>" alt="Profile Photo">
              </div>
              <b class="caret d-none d-lg-block d-xl-block"></b>
              <p class="d-lg-none">
                <%=botname%>
              </p>
            </a>
            <ul class="dropdown-menu dropdown-navbar">
              <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Profile</a></li>
              <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Settings</a></li>
              <li class="dropdown-divider"></li>
              <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Log out</a></li>
            </ul>
          </li>
          <li class="separator d-lg-none"></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
        </div>
      </div>
    </div>
  </div>